@import "tailwindcss";

:root {
    --color-principal: #1f3a5f;
    --color-secondary: #DDE6F1;
    --color-page-bg: #F4F6F9;
}

.label {
  @apply mb-1.5 text-(--color-principal) font-semibold;
}

.input {
  @apply border border-gray-200 rounded-sm w-full min-h-10 px-2 focus:outline-none focus:ring-2 focus:ring-(--color-principal);
}
